<div class="registrar">
  <form class="custom-form" method="post">
    <h1>Registro</h1>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required="required">
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required">
    <input type="password" [(ngModel)]="confirmarPassword" name="password" placeholder="Repetir contraseña" required="required">
    <button type="submit" (click)="registrar()">Register</button>
  </form>
</div>
