<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<div class="back">
  <i class="fas fa-arrow-left fa-lg grupoIconos" [routerLink]="['/login']"></i>
</div>
<div class="registrar">
  <form class="custom-form" method="post">
    <h1>Registro</h1>
    <input type="email" [(ngModel)]="registrarUsuario.email" name="email" placeholder="Email" required="required">
    <input type="text" [(ngModel)]="registrarUsuario.username" name="username" placeholder="Usuario" required="required">
    <input type="password" [(ngModel)]="registrarUsuario.password" name="password" #pwd="ngModel" required placeholder="Contraseña" required="required">
    <div [hidden]="pwd.valid || pwd.pristine" class="alert alert-danger">
      <p *ngIf="pwd.errors?.required"> Introduzca contraseña</p>
    </div>
    <!--<input type="password" [(ngModel)]="confirmarPassword" name="password" placeholder="Repetir contraseña" required="required">-->
    <button type="submit" (click)="registrar()">Registar</button>
  </form>
</div>
