<mat-card></mat-card>
<mat-card *ngFor="let tweet of tweets">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">{{tweet.id}}</div>

    <mat-card-title><div><!-- <img mat-card-image src={{tweet.user.photoUrl}}>-->
      {{tweet.user.username}}</div></mat-card-title>
    <mat-card-subtitle>{{tweet.likes}}</mat-card-subtitle>
    <div></div>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p> {{tweet.mensaje}}
    </p>
    <p>{{tweet.likes.length}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="darLike(tweet.id)">
      {{tweet.id}} {{tweet.user.id}}</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
<!--
<mat-grid-list cols="9" rowHeight="100px">
  <mat-grid-tile *ngFor="let columnas of columnsToDisplay" [colspan]="1" [rowspan]="1"><h3>
    {{columnas}}</h3>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="9" rowHeight="100px">

  <div class="tablaPlanetas" *ngFor="let planetas of listadoPlanetas">

    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.name}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.rotation_period}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.orbital_period}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.diameter}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.climate}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.gravity}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      {{planetas.terrain}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.surface_water}}
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
      {{planetas.population}}
    </mat-grid-tile>

  </div>

</mat-grid-list>
-->

