/*div {
  display:block;
  margin:auto;
}*/


.custom-form {
  min-width: 300px;
  max-width: 40%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 1.5rem;
  background-color: rgba(0, 172, 238, 0.3);
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
  color: black;
  margin-top: 2rem;
}

.mensaje {
  margin-left: 55px;
  font-size: 16px;
}

.size {
  font-size: 22px;
}

.icono, .iconoLike {
  margin-left: 120px;
}

.grupoIconos {
  text-align: center;
  color:	rgb(55, 55, 55);
}

.like {
  margin-left: 7px;
  font-weight: normal;
  font-size: 18px;
}

i:hover {
  color: black;
}

img {
  width: 40px;
  margin-top: 10px;
  margin-right: 12px;
}

.iconoLike:hover {
  color: rgb(241, 53, 53);
}

.like:hover{
  color:	rgb(55, 55, 55);

}